*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
.kotlin/
composeApp/build/
gradle-wrapper.properties

# Recording outputs
Gifs/*.gif
Gifs/*.mp4
temp_recording.mp4
temp_palette.png
